<h2>Editing book</h2>
<%= form_for(@book, url:"/books/#{@book.id}") do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title %>
	<h4>Body</h4>
	<%= f.text_area :body %>
	<%= f.submit "Update Book" %>
	<p><%= link_to "show", show_book_path(@book.id) %> | <%= link_to "back", book_path %></p>
<% end %>